@model GetMemberResult
@using Senparc.Weixin.QY.AdvancedAPIs.MailList
@using PHDS.core.Utility
@using PHDS.core.Entities.Pinhua
@using System.Data.SqlClient
@using Microsoft.EntityFrameworkCore

@{
    Layout = "_Layout_weui";
    ViewData["Title"] = "考勤管理";
    var currentWorkTime = PinhuaContext.GetCurrentClockRange();
}

<div class="" id="app" v-cloak>
    <div class="">
        <div class="weui-cells weui-cells_form" style="display:none;">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="date3" class="weui-label">日期</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="date3">
                </div>
            </div>
        </div>
        <div id="inline-calendar"></div>
        <div class="weui-panel weui-panel_access">
            <template v-for="range in clock_results">
                <div class="weui-cells__title">{{range.rangeName}} - {{range.rangeString}}</div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <p style="color:#04BE02">签到</p>
                        </div>
                        <div class="weui-cell__bd">
                            &nbsp;{{range.clockInTime}}
                        </div>
                        <div class="weui-cell__ft">{{range.clockInResult}}</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <p style="color:#E64340">签退</p>
                        </div>
                        <div class="weui-cell__bd">
                            &nbsp;{{range.clockOutTime}}
                        </div>
                        <div class="weui-cell__ft">{{range.clockOutResult}}</div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

@section Styles{
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
}

@section Scripts{
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                clock_results: [],
            },
            methods: {
                is_clock_in: function (type) {
                    return type == '签到'
                },
                is_clock_out: function (type) {
                    return type == '签退'
                }
            }  
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#date3').on('change', function () {
                $.ajax({
                    url:'@Url.Action("ajaxGetClockResult")',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        userid:'@Model.userid',
                        date: $(this).val(),
                    },
                    success: function (data) {
                        console.log(data)
                        vm.clock_results = data
                    },
                    error: function () {
                        vm.clock_results = data
                    },
                })
            })

            $("#date3").calendar({
                container: "#inline-calendar"
            });
        })
    </script>
}